.tabButton {
  width: 10em;
  height: 2em;
  position: relative;
  border-radius: 12px;
  border: 2px solid rgba(223, 222, 222);
  background-color: transparent;
  overflow: hidden;
}

.tabButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: all 0.5s;
  z-index: -1;
  transform: translateX(-100%);
}

.tabButton:hover::before {
  transform: translateX(0);
}

.tabButton:hover {
  font-weight: 600;
}

.countButton:not(:disabled) {
  width: 24px;
  height: 21px;
  border-radius: 2px;
  border: 1px solid rgba(128, 128, 128);
  background-color: white;
}

.countButton:active:not(:disabled) {
  background-color: rgba(128, 128, 128, 0.2);
}

.plus:disabled,
.minus:disabled {
  position: relative;
  border: 0.5px solid rgb(136, 136, 136, 0.2);
  background-color: rgb(136, 136, 136, 0.2);
}

.minus:disabled::before {
  position: absolute;
  content: "Вы еще ничего не заказали";
  top: 0;
  right: 0;
  transform: translate(80%, -120%);
  width: max-content;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  display: none;
}

.plus:disabled::before {
  position: absolute;
  content: "Вы не можете заказать больше";
  top: 0;
  right: 0;
  transform: translate(80%, -120%);
  width: max-content;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  display: none;
}

.minus:disabled::after,
.plus:disabled::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
  transform: translate(-35%, -120%);
  display: none;
}

.minus:disabled:hover::before,
.minus:disabled:hover::after {
  display: block;
}

.plus:disabled:hover::before,
.plus:disabled:hover::after {
  display: block;
}

.disabled {
  border-radius: 2.5px;
  border: 2px solid rgba(128, 128, 128, 0.1);
  background-color: rgba(128, 128, 128, 0.2);
}

.active {
  font-weight: 600;
  border: 1px solid rgba(128, 128, 128);
  background-color: white;
}

.active::before {
  background-color: transparent;
  transition: none;
}

.active:hover {
  transform: none;
}

.switchButton {
  font-size: 10px;
  padding: 2px 8px;
  border-radius: 12px;
  border: 1px solid rgba(128, 128, 128);
  background-color: white;
}

.switchButton:active {
  background-color: rgba(128, 128, 128, 0.2);
}

.tabButton.blue::before,
.active.blue,
.switchButton.blue,
.countButton.blue:not(:disabled),
.saveReviewButton.blue {
  background-color: #5181b8b2;
  border-color: black;
}

.active.blue:hover {
  background-color: transparent;
}

.countButton.blue:active:not(:disabled),
.switchButton.blue:active,
.saveReviewButton.blue:active {
  background-color: #5181b8;
}

.tabButton.blue:not(.active) {
  border: 0.5px solid rgba(0, 0, 0, 0.3);
}

.saveReviewButton {
  width: 108px;
  border-radius: 12px;
  border: 1px solid rgba(128, 128, 128);
  background-color: white;
}

.saveReviewButton:active {
  background-color: rgba(128, 128, 128, 0.2);
}
