.restaurantName {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em 0;
  border-radius: 12px;
  border: 1px solid rgb(223, 222, 222);
  background-color: white;
}

.menu {
  margin: 1.5em 0;
}

.rewiews {
  margin: 1.5em 0;
}
