.restaurantName {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em 0;
    border-radius: 12px;
    border: 1px solid rgb(223, 222, 222);
    background-color: white;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
}

.rewiews {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
}